<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.suxinwei.authcode">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity" />

        <activity android:name=".ThirdActivity">
            <intent-filter>
                <!-- action可以自定义 -->
                <action android:name="com.itheima.myaction" />
                <!-- 不能自定义,必须使用系统提供的常量 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".FourthActivity">
            <intent-filter>
                <action android:name="com.itheima.action.Fourth" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="itheima" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>

        <service android:name=".service.MusicService" />

        <activity android:name="com.alibaba.alipay.PayActivity" />

        <service
            android:name="com.alibaba.alipay.PayService"
            android:exported="true">
            <!--定义可被其它应用使用该服务，定义意图-->
            <intent-filter>
                <action android:name="com.alibaba.alipay.THIRD_PART_PAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>
    </application>

</manifest>